
<div class="row d-flex">
    <% @places.each do |place| %>
        <div class="col-12 col-md-3">
            <%= link_to place.fantasy_name, place_path(place)%>
        </div>
    <% end %>
</div>
<div class="row d-flex justify-content-end">
    <%= link_to 'Add a Place', new_place_path, class: 'btn btn-primary' %>
</div>