<div class="d-flex justify-content-center">
    <h1>
        <p><%= @room.room_name %></p>  
    </h1>
</div>
    <p><%= @room.place.fantasy_name %></p>
    <p><%= @room.available_times.first.start %></p>