<%= simple_form_for @place do |f| %>
    <div class="form-inputs">
        <%= f.input :company_name %>
        <%= f.input :fantasy_name %>
    </div>
    <div class="form-actions">
        <%= f.submit  %>
    </div>
<% end %>